* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.container {
  width: 65%;
  margin: 0 auto;
  position: relative;
}
.loginBox {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}
.loginDetails {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #4e892c;
}
.header h5 {
  font-size: 7px;
}
.formData{
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.userDiv{
  width: 45%;
  padding: 30px 0px;
}
#userDetails{
  visibility: hidden;
  transition: all .15s ease-in-out;
}
.userAction {
  display: flex;
  justify-content: right;
  gap: 5px;
  position: relative;
}
#togglePassword{
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 14px;
  font-size: 12px;
}

.userAction a {
  color: #000;
}
.userAction p {
  font-size: 12px;
}
.userAction button {
  background-color: transparent;
  border: none;
}
.enrollBtn a{
  text-decoration: none;
}
.userAction button a{
  color: #4e892c;
  border: 1px solid #4e892c;
  border-radius: 20px;
  padding: 7px 12px;

}
.userAction button:hover + .enrollBenefits{
  display: block;
}
.enrollBenefits{
  display: none;
  background-color: black;
  color: #fff;
  text-align: start;
  padding: 8px 10px;
  position: absolute;
  border-radius: 5px;
  top: 34px;
  right: 0;
  transition: all0.3s ease-in-out;
}
.enrollBenefits::before{
  position: absolute;
  top: -12px;
  color: #000;
  right: 10px;
  font-family: "Font Awesome 6 Free";
  content: "\f0d8";
  font-size: 25px;
  font-weight: 900;
}
.enrollBenefits h6{
  font-size: 12px;

}
.enrollPoints .fa-solid::after{
  content: "";
  position: absolute;
  border-radius: 12px;
  left: -4px;
  top:-3px;
  background-color: #4e892c4b;
  width: 15px;
  height: 15px;
}
.enrollPoints .fa-solid{
  color: #4e892c;
  position: relative;
  margin-right: 3px;
}
.enrollBenefits ul{
  list-style: none;
}
.enrollBenefits ul li{
  font-size: 9px;
  margin-top: 8px;
}
.formData h5 {
  font-size: 30px;
}
.userINP .placeHolder{
  pointer-events: none;
  
}
.formData form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form .userINP {
  display: flex;
  flex-direction: column;
}

.formData p{
  font-size: 12px;
}
.onlineID, .password {
  position: relative;
}

.onlineIdText, .passwordText {
  position: absolute;
  top: 12px;
  left: 12px;
  transition: all 0.2s ease;
}

.onlineID:focus-within .onlineIdText{
  font-size: 10px;
  top: 1px;
  left: 12px;
}

.password .passwordText.top{
  font-size: 10px;
  top: 1px;
  left: 12px;
  color: #4e892c;
  font-weight: 600;
}
.onlineID .onlineIdText.top{
  font-size: 10px;
  top: 1px;
  left: 12px;
  color: #4e892c;
  font-weight: 600;
}
.onlineID:focus-within, .password:focus-within .placeHolder{
  color: #4e892c;
  font-weight: 600;
}
.password:focus-within .passwordText{
  top: 1px;
  font-size: 10px;
  left: 12px;
}

.onlineID input {
  width: 100%;

}
.password input {
  width: 100%;
}
.userINP input {
  border-radius: 7px;
  padding: 0px 0px 0px 7px;
  height: 43px;
  border: 1px solid #6a6a6a;
  
}
.userINP input:first-child {
  margin-bottom: 6px;
}

.userINP input:focus {
  outline: none;
}
.userINP input:focus {
  border: 1px solid #4e892c;
}
.rememberME {
  text-align: start;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
}
input[type="checkbox"] {
  appearance:initial;
  -webkit-appearance: none;
  height: 18px;
  width:18px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
input[type="checkbox"]::after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-size: 10px;
  font-weight: 900;
  color: #f4f4f4;
}

input[type="checkbox"]:checked {
  background-color: #4e892c;
  color: white;
}
.check{
  display: flex;
  /* width: 100%; */
}
.formData form button {
  background-color: #cdcdcd;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
}
form button:hover {
  background-color: #4e892c;
  color: #fff;
}
form .forgotDetails {
  display: flex;
  justify-content: center;
}
form .forgotDetails a {
  color: #4e892c;
  font-weight: 500;
  font-size: 12px;
}
.footer{
  text-align: center;
}
.footer p {
  font-size: 12px;
}
.footer span{
  color: #4e892c;
  font-weight: 500;
}
.preLoad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.loaded {
  width: 400px;
  height: 450px;
  border-radius: 8px;
}
.login-btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.spinner {
  /* display: none; */
  border: 3px solid white;
  border-top: 3px solid #f4f4f4;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 30%;
  z-index: 10;
  left: 48%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main {
  position: relative;
  padding: 30px;
  width: 100vw;
  height: 100vh;
}
.companyLogo{
  width: 50px !important;
}
.logoCircle img{
  position: absolute;
  width: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.main .house-image{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 1px;
  background-color: red;
  transition: height 0.7s ease, width 0.7s ease;
  border-radius: 20px;
  background-image: url(images/house2.jpg);
  background-position: center;
  background-size: cover;
}

.logoCircle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  background-color: #fff;
  transition: all .7s;
  border-radius: 50%;
}
.logoStart{
  width: 70px;
  height: 70px;
}

.main.start .house-image{
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}
.moveLogoLeft{
  left: 30px;
  top: 30px;
  transition: all .5s;
  transform: none;
}
.main.start .house-image.moveHouseRight{
  width: 50%;
  height: calc(100% - 60px);
  right: 30px;
  top: 30px;
  transform: none;
  left: auto;
}